.food {
    color: rgb(10, 13, 27);
}

.category {
    color: rgb(2, 2, 2);
}

.ethnicity {
    color: rgb(11, 11, 11);
}

#container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;


}

div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    height: 210px;
    align-items: normal;
    border: solid red;



}